body {
    background: white;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: whitesmoke;
    font-style: italic;
}

.navbar-collapse {
    margin-top: 0.5rem;
}

.navigation {
    background: #131313;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-item a {
    font-size: 1rem;
}

.quote-container {
    background: #131313;
    margin-top: -0.1rem;
}

.quote-container h1 {
    color: whitesmoke;
    font-size: 2.8rem;
    margin-left: 1.6rem;
    padding: 2%;
}

.icon-container {
    padding: 2%;
}

.icon {
    padding: 0.5rem;
    color: whitesmoke;
}

.partial-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlight {
    background-color: #ffff0085;
}

.article-container {
    margin: 2.5rem 2.5rem 1.1rem 3.5rem;
}

.pagination {
    margin-left: 3.5rem;
}

.side-container {
    margin: 0.2rem 0 0 0;
    background: rgb(245, 245, 245);
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.side-container .text-content {
    margin: 2.5rem 0.5rem 0 0.5rem;
}

.side-container button {
    padding: 0;
}

.sponsors {
    margin: 2.5rem 4rem 2.5rem 2.5rem;
}

.sponsors .img-thumbnail {
    max-width: 90%;
    margin: 1rem;
}

.end-container {
    background: #131313;
}

.end-container p {
    color: whitesmoke;
    margin: 2.5rem 4rem 2.5rem 2.5rem;
}

.end-container img {
    margin: 2.5rem 4rem 2.5rem 2.5rem;
    width: 70%;
}